/* For mobile devices */
@media (max-width: 768px) {
    .hero {
        height: 40vh;
    }

    .what-choose-us {
        padding: 15px 10px;
    }

    .welcome-text h1 {
        font-size: 18px;
    }

    .our-usp {
        padding-top: 20px;
    }

    .services {
        padding: 0px 10px;
    }

    .footer {
        display: grid;
        text-align: center;
        row-gap: 15px;
        padding: 32px 12px;
    }

    .footer-links a {
        font-size: 14px;
    }

    .form-row {
        flex-direction: column;
    }
}



/* Responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }


    .header-design {
        padding: 5px 10px;
    }

    .nav {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #2b4f73;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .nav.open {
        max-height: 500px;
    }

    .nav li {
        padding: 15px 20px;
        border-top: 1px solid #FFF;
    }

    .contact-info, .contact-form {
        padding: 10px;

}


/* For tablets (between 769px and 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        height: 40vh;
    }

    .what-choose-us {
        padding: 15px 10px;
    }

    .welcome-text h1 {
        font-size: 18px;
    }

    .our-usp {
        padding-top: 20px;
    }

    .services {
        padding: 0px 10px;
    }

    .footer {
        display: grid;
        text-align: center;
        row-gap: 15px;
        padding: 32px 12px;
    }

    .footer-links a {
        font-size: 14px;
    }

    .form-row {
        flex-direction: column;
    }


    .menu-toggle {
        display: flex;
    }


    .header-design {
        padding: 15px 20px;
    }

    .nav {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #2b4f73;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .nav.open {
        max-height: 500px;
    }

    .nav li {
        padding: 15px 20px;
        border-top: 1px solid #FFF;
    }
    


}
